@font-face {
  font-family: "AzoSans";
  src: url("../fonts/Azo-sans/AzoSans-Light.otf") format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: "AzoSans";
  src: url("../fonts/Azo-sans/AzoSans-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "AzoSans";
  src: url("../fonts/Azo-sans/AzoSans-Bold.otf") format("opentype");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "AzoSans", Helvetica, Arial, sans-serif;
  padding-top: 72px;
  line-height: 2rem;
  letter-spacing: .04rem;
}

a {
  color: #00b7ff;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 1rem;
  z-index: 2;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem 1rem;
  text-transform: uppercase;
}

/*Home*/

#home {
  background: url('../images/home-background.jpg') top center no-repeat;
  background-size: cover;
  height: calc(100vh);
}

#home .call-to-action {
  margin-top: -15rem;
}

#home .call-to-action h1 {
  margin-bottom: 5rem;
  font-size: 4rem;
}

#home .call-to-action a {
  font-size: 1.3rem;
  background-color: white;
  border: 3px solid;
  border-radius: 0rem;
}

#home .call-to-action a:hover {
  background-color: #6c757d;
  border: 3px solid #6c757d;
}

/*Authentication*/

#login, #signup {
  min-height: calc(100vh - 72px);
}

#login .login-wrapper, #signup .signup-wrapper {
  margin: 7rem auto auto auto;
  font-size: 1.3rem;
  max-width: 16rem;
}

#login img, #signup img {
  margin-bottom: 3rem;
}

#login .btn, #signup .btn {
  font-size: 1rem;
  background-color: white;
  border: 3px solid;
  border-radius: 0rem;
}

#login .btn:hover, #signup .btn:hover {
  background-color: #6c757d;
  border: 3px solid #6c757d;
}

#login .lost-password, #login .remember {
  font-size: .85rem!important;
}

#login .lost-password a {
  text-decoration: none;
}

#login form, #signup form {
  margin-bottom: 5rem;
}

/*Shop*/

#product-gallery {
  min-height: calc(100vh - 72px);
  padding-top: 4rem;
}

#product-gallery .topbar {
  margin-bottom: 3rem;
}

#product-gallery .products a {
  text-decoration: none;
}

#product-gallery .card {
  padding: 0;
  border-radius: 0;
  transition: .2s ease-in;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

#product-gallery .card a {
  color: black!important;
}

#product-gallery .card:hover {
  transform: scale(1.03)
}

#product-gallery h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#product-gallery .card-body h3 {
  font-size: 1.2rem;
}

#product-gallery .card-body p {
  font-size: 1rem;
}

#product-gallery .filters-wrapper a {
  text-decoration: none;
}

/*Edit product/ Create product )*/

#create-product, #edit-product {
  min-height: calc(100vh - 72px);
}

#create-product .create-product-wrapper, #edit-product .edit-product-wrapper {
  margin: 3rem auto auto auto;
}

#create-product h2, #edit-product h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#create-product .btn, #edit-product .btn {
  font-size: 1rem;
  background-color: white;
  border: 3px solid;
  border-radius: 0rem;
}

#create-product .btn:hover, #edit-product .btn:hover {
  background-color: #6c757d;
  border: 3px solid #6c757d;
}

/*Manage Products*/

#products-list {
  min-height: calc(100vh - 72px);
  padding-top: 3rem;
}

#products-list h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

#products-list .card {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

#products-list .card a {
  color: black!important;
}

#products-list .card-body h3 {
  font-size: 1.2rem;
}

#products-list .card-body p {
  font-size: 1rem;
}

#products-list .products a {
  text-decoration: none;
}

#products-list .edit-btn, #products-list .delete-btn {
  font-size: 1rem;
  border: 3px solid;
  border-radius: 0rem;
  width: 100%;
}

#products-list .create-btn {
  font-size: 1.2rem;
  border: 3px solid;
  border-radius: 0rem;
}

#products-list .edit-btn:hover {
  color: white;
  border: 3px solid #0dcaf0;
}

#products-list .delete-btn:hover {
  border: 3px solid #dc3545;
}

#products-list .create-btn:hover {
  border: 3px solid #198754;
}

#products-list .topbar {
  margin-bottom: 1rem;
}

#products-list .filters-wrapper a {
  text-decoration: none;
}

/*Edit category/ Create category )*/

#create-category, #edit-category {
  min-height: calc(100vh - 72px);
}

#create-category .create-category-wrapper, #edit-category .edit-category-wrapper {
  margin: 10rem auto auto auto;
}

#create-category h2, #edit-category h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#create-category .btn, #edit-category .btn {
  font-size: 1rem;
  background-color: white;
  border: 3px solid;
  border-radius: 0rem;
}

#create-category .btn:hover, #edit-category .btn:hover {
  background-color: #6c757d;
  border: 3px solid #6c757d;
}

/*Manage categories*/

#categories-list {
  min-height: calc(100vh - 72px);
  padding-top: 3rem;
}

#categories-list .card {
  border-radius: 0;
}

#categories-list h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

#categories-list .categories-wrapper {
  margin: 2rem auto auto auto;
}

#categories-list .edit-btn, #categories-list .delete-btn {
  font-size: 1rem;
  border: 3px solid;
  border-radius: 0rem;
  width: 100%;
}

#categories-list .create-btn {
  font-size: 1.2rem;
  border: 3px solid;
  border-radius: 0rem;
}

#categories-list .edit-btn:hover {
  color: white;
  border: 3px solid #0dcaf0;
}

#categories-list .delete-btn:hover {
  border: 3px solid #dc3545;
}

#categories-list .create-btn:hover {
  border: 3px solid #198754;
}

/* Dashboard*/

.dashboard-wrapper {
  padding: 8rem 0;
  max-width: 62.5rem;
  margin: 0 auto;
}

.dashboard-wrapper p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.dashboard-wrapper a {
  text-decoration: none;
}

.address-title h3 {
  margin-bottom: 2rem;
}

/*User Addresses forms*/

#address-form {
  padding: 4rem 0;
}


#address-form .btn{
  font-size: 1rem;
  background-color: white;
  border: 3px solid;
  border-radius: 0rem;
}

#address-form .btn:hover{
  background-color: #6c757d;
  border: 3px solid #6c757d;
}

#address-form h2, #address-form h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}



/*Product details*/

#product-details {
  padding: 4rem 0;
}

#product-details .product-card {
  max-width: 20rem;
}

#product-details .product-detail .product-body {
  padding: 1.5rem 1.5rem
}

#product-details .product-detail {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

#product-details .heading-5 {
  font-size: 1.125rem !important;
}

#product-details .heading {
  margin: 0 0 6px;
  padding: 0;
  text-transform: none;
  font-weight: 600;
  color: #111;
  line-height: 1.46;
}

#product-details .cart-btn {
  font-size: 1.2rem;
  border: 3px solid;
  border-radius: 0rem;
}

#product-details .cart-btn:hover {
  color: white;
  border: 3px solid #198754;
}

/*Cart*/

#cart {
  padding: 4rem 0;
}

#cart .title {
  margin-bottom: 5vh
}

#cart .card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0;
  border: transparent
}

@media(max-width:767px) {
  #cart .card {
    margin: 3vh auto
  }
}

#cart .card .cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

@media(max-width:767px) {
  #cart .card .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 0;
  }
}

#cart .card .summary {
  background-color: #ddd;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

@media(max-width:767px) {
  #cart .card .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 0
  }
}

#cart .card .summary .col-2 {
  padding: 0
}

#cart .card .summary .col-10 {
  padding: 0
}

#cart .card .row {
  margin: 0
}

#cart .card .title b {
  font-size: 1.5rem
}

#cart .card .items-list {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

#cart .card .col-2, #cart .card .col {
  padding: 0 1vh
}

#cart .card a {
  padding: 0 1vh
}

#cart .card .close {
  margin-left: auto;
  font-size: 0.7rem
}

#cart .card img {
  width: 3.5rem
}

#cart .card .back-to-shop {
  margin-top: 1.5rem
}

#cart .card h5 {
  margin-top: 4vh
}

#cart .card hr {
  margin-top: 1.25rem
}

#cart .card form {
  padding: 2vh 0
}

#cart .card select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

#cart .card input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;

  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

#cart .card input:focus::input-placeholder {
  color: transparent
}

#cart .card .btn {
  width: 100%;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0
}

#cart .card .btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  box-shadow: none;
  user-select: none;
  transition: none
}

#cart .card .btn:hover {
  color: white
}

#cart .card a {
  color: black
}

#cart .card a:hover {
  color: black;
  text-decoration: none
}

/*Footer*/

footer {
  font-size: .9rem;
}

footer .payment-methods {
  font-size: 1.2rem;
}

footer .social {
  font-size: 1.15rem;
}

/*GENERAL*/

input[type="text"], input[type="password"], input[type="date"], input[type="email"], input[type="number"], input[type="file"], input[type="search"], select {
  appearance: none;
  background-color: #fff;
  border: 2px solid #6c757d;
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding: 0.6rem 0.5rem 0.5rem 0.5rem;
  height: 2.6rem;
  line-height: .85rem;
}

input[type="search"] {
  border: none;
  font-size: 1.2rem;
  border-radius: 0rem;
  margin-bottom: 0rem;
}

.search-container {
  border: 3px solid #6c757d;
  height: fit-content;
  block-size: fit-content;
  padding: 0;
}

.search-btn:focus, input[type="search"]:focus {
  box-shadow: none !important;
  outline: none;
}

textarea {
  appearance: none;
  background-color: #fff;
  border: 2px solid #6c757d;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.9rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
}

.error {
  color: #bb2332;
  font-size: .8rem;
}