<div class="container border-bottom client-menu">
  <div class="row p-5">
    <div class="col-12 d-flex flex-row justify-content-center">
      <div class="px-3 text-muted">
        <a href="#" class="text-reset text-decoration-none text-uppercase border-bottom border-3  fw-bold">Dashboard</a>
      </div>
      <div class="px-3 text-muted">
        <a href="#" class="text-reset text-decoration-none text-uppercase">Orders</a>
      </div>
      <div class="px-3 text-muted">
        <a href="#" class="text-reset text-decoration-none text-uppercase">Addresses</a>
      </div>
      <div class="px-3 text-muted">
        <a href="#" class="text-reset text-decoration-none text-uppercase">Account details</a>
      </div>
      <div class="px-3 text-muted">
        <a href="/auth/logout" class="text-reset text-decoration-none text-uppercase">Logout</a>
      </div>

    </div>
  </div>
</div>