<section id="user-dashboard" class="container">

  <div class="border-bottom customer-menu">
    <div class="row p-5">
      <div class="col-12 d-flex flex-row justify-content-center">
        <div class="px-3 text-muted">
          <a href="#"
            class="text-reset text-decoration-none text-uppercase border-bottom border-3  fw-bold">Dashboard</a>
        </div>
        <div class="px-3 text-muted">
          <a href="#" class="text-reset text-decoration-none text-uppercase">Orders</a>
        </div>
        <div class="px-3 text-muted">
          <a href="/customer/address-list" class="text-reset text-decoration-none text-uppercase">Addresses</a>
        </div>
        <div class="px-3 text-muted">
          <a href="#" class="text-reset text-decoration-none text-uppercase">Account details</a>
        </div>
        <div class="px-3 text-muted">
          <a href="/auth/logout" class="text-reset text-decoration-none text-uppercase">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-wrapper text-muted d-flex justify-content-center">
    <div class="d-flex flex-column justify-content-center align-items-center col-sm-12 col-md-8 col-lg-10">
      <p>
        Hello <strong>{{username}}</strong> (not <strong>{{username}}</strong>?
        <a href="/auth/logout">Log out</a>)
      </p>
      <p>
        From your account dashboard you can view your <a href="#">recent orders</a>
        , manage your <a href="/customer/address-list">shipping and billing addresses</a>,
        and <a href="#">edit your password and account details</a>.
      </p>
    </div>
  </div>

</section>