<h2 class="pt-5">New product</h2>

<form action="/products/create" method="post" enctype="multipart/form-data">

  <label for="name">Name:</label><br />
  <input type="text" id="name" name="name" /><br />

  <label for="price">Price:</label><br />
  <input type="text" id="price" name="price" /><br />

  <label for="">Description:</label><br />

  <textarea name="description" id="description" cols="30" rows="10"></textarea>
  <br />

  <label for="category">Category</label>
  <select name="category" id="category">
    {{#each categories}}
      <option value="{{id}}"> {{name}} </option>
    {{/each}}
  </select><br />

  <label for="image">Image</label>
  <input type="file" name="image" id="image" />

  <br />
  <button type="submit">Submit</button>

</form>